header {
    height: 100vh;
    color: $white;
    line-height: 2.3rem;
    letter-spacing: 0.1rem;
}

.headerContainer h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 3rem 0;

    span {
        display: block;
    }
}

.headerContainer h2 {
    font-size: 2rem;
}

.play {
    text-align: center;
    font-size: 7rem;
}

.playNow {
    background: transparent;
    border: none;
    // color: $white;
    color: $secondaryBackground;
}

.playClicked {
    // color: gray;
    display: none;
}