main {
    height: 100vh;
    background-color: $secondaryBackground;
    line-height: 2.3rem;

    .sectionHint {
        // border: 1px solid red;
        height: 40vh;
    }
    
    .sectionAlpha {
        // border: 1px solid red;
        height: 60vh;
    }
}

.sectionHint .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    .result {
        width: 60%;
        font-size: 3rem;
        font-weight: 700;
    }

    .replay {
        // border: 1px solid red;
        width: 25%;
        background: transparent;
        border: none;
        color: $primaryBackground;
        font-size: 3.5rem;
    }
}

p.hint {
    // background-color: $accent;
    padding: 0.3rem;
    text-align: center;
    border-radius: 5px;
}

.secretWord {
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
}

.secretLetter {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 10%;
    padding: 0.7rem;
    margin-bottom: 0.3rem;
}

.space {
    background-color: gray;
}

.alphaKeys {
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: center;
    border-top: 2px solid $primaryBackground;
    padding: 1rem;

    button {
        width: 4.6rem;
        height: 4.6rem;
        font-size: 2rem;
        margin: 0.3rem;
        border: none;
        border-radius: 5px;
    }
}

.correctGuess {
    font-weight: 700;
    font-size: 2.5rem;
    background-color: $white;
}