@media (min-width: 360px) {
    main {
        padding-top: 5rem;
    }

    aside {
        line-height: 3rem;
    }
}

@media (min-width: 375px) {
    main {
        padding-top: 0;
    }

    .mainBorder {
        padding-top: 1rem;
    }

    .hintAndSecret {
        padding-top: 5%;
    }

    .sectionAlpha {
        padding-top: 1%;
    }

    .alphaKeys button {    
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin: 0.5rem;
    }
}

@media (min-width: 600px) {
    main {
        height: calc(100vh - 13rem);
    }

    .mainBorder {
        box-shadow: 0.5rem 0.5rem 1.5rem $darkerAccent;
        border-radius: 2%;
        padding: 1rem;
    }

    header {
        height: 10rem;
    }

    aside {
        top: 10rem;
    }

    .headerContainer h1 {
        font-size: 5rem;
        text-align: center;
        padding: 3rem 0;
    }

    .headerContainer label {
        font-size: 3.5rem;
    }

    .sectionHint {
        height: 37vh;

        p {
            font-size: 2.5rem;
            padding: 1rem;
        }

        .container .result {
            top: 27%;
            left: 23%;
            right: 23%;
        }
    }

    .sectionAlpha {
        padding-top: 1%;
        height: 50%;
    }

    .emoji,
    .replay {
        font-size: 4rem;
    }

    .alphaKeys {
        padding: 1rem;
    
        button {
            width: 6rem;
            height: 6rem;
            font-size: 2rem;
            margin: 0.5rem;
        }
    }

    .secretLetter {
        width: 5rem;
        height: 5rem;
        padding: 1rem;
    }

    .replay {
        top: 30%;
    }
}

@media (min-width: 1024px) {
    .sectionHint {
        height: 40vh;
    }

    .alphaKeys button {
        margin: 1rem;
    }
}

@media (min-width: 1030px) and (min-height: 525px) {
    .sectionHint {
        height: 35vh;

        p {
            font-size: 2rem;
            padding: 0.5rem;
        }
    }

    .hintAndSecret {
        padding-top: 2%;
    }

    .sectionAlpha {
        padding-top: 3%;
    }

    .alphaKeys button {    
        width: 5.5rem;
        height: 5.5rem;
        font-size: 2rem;
        margin: 0.5rem;
        margin-bottom: 1rem;
    }
} 

@media (min-width: 1280px) {
    .mainBorder {
        padding: 2rem;
    }
    .secretLetter {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
    }

    .alphaKeys button {    
        margin: 0.7rem;
    }
}