aside {
    display: none;
    background-color: $black;
    color: $gray;
    position: absolute;
    top: 5rem;
    left: 0;
    bottom: 0;
    right: 0;

    font-size: 1.7rem;
    line-height: 2.5rem;

    div {
        padding: 1rem;
        border-radius: 5px;
        border: 1px solid $white;
    }

    @include phone {
        line-height: 3rem;
    }

    @include tablet {
        top: 10rem;
    }

    @include desktop {
        font-size: 3rem;
        line-height: 4.2rem;
    }
}

aside h2 {
    text-align: center;
}

aside ul {
    padding: 0.5rem;
    list-style-position: inside;
}


.checkToggle {
    display: none;
}

.checkToggle:checked {
    + aside {
        display: block;
    }
}