h3 {
    display: none;
    color: $gray;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    text-align: center;
    font-size: 2rem;
    border-top: 2px solid $gray;

    @include desktop {
        display: block;
    }
}

main {
    height: calc(100vh - 5rem);

    @include phone {
        padding-top: 1rem;
    }

    @include tablet {
        height: calc(100vh - 10rem);
    }

    @include desktop {
        padding-top: 0.5rem;
    }
}

.mainBorder {
    border-radius: 5px;
    box-shadow: 0 0 0.5rem $gray;
    padding-bottom: 0.5rem;

    @include tablet {
        box-shadow: 0.5rem 0.5rem 1.5rem $darkerAccent;
        border-radius: 2%;
        padding: 1rem;
    }

    @include desktopBigger {
        padding: 2rem;
    }
}

.sectionHint {
    height: 30vh;
    padding: 0 0.5rem;
}

.sectionHint .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2rem;

    .resultContainer {
        width: 70%;
        font-size: 3rem;
        font-weight: 700;
    }

    button {
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .result {
        background: rgba(11,12,16, 0.8);
        text-align: center;
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 5rem;
        border: 1px solid transparent;
        border-radius: 50%;
        letter-spacing: 0.15rem;
        z-index: 99;

        @include tablet {
            top: 27%;
            left: 23%;
            right: 23%;
        }

        p.winLose {
            font-size: 3.5rem;
            color: $white;
            text-shadow: 1px 1px 2px $darkerAccent;
        }

        p.answer {
            font-size: 1.6rem;
            color: $gray;
            text-transform: uppercase;

            @include desktop {
                font-size: 2rem;
            }
        }
    }
}

.hintAndSecret {
    @include tablet {
        margin-top: 2rem;
    }
}

p.hint {
    padding: 0.5rem;
    text-align: center;
    color: darken($white, 5%);
    border: 1px solid $gray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px $gray;
    letter-spacing: 0.1rem;
    font-size: 1.7rem;

    @include tablet {
        padding: 2rem;
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }

    @include desktopShorter {
        font-size: 2rem;
    }

    @include desktopBigger {
        font-size: 2.5rem;
    }
}

.secretWord {
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: space-between;

    @include phone {
        padding-top: 1rem;
    }

    @include desktop {
        padding-top: 2rem;
    }

    @include desktopShorter {
        padding-top: 1rem;
    }
}

// Secret Letter Card container
.card {
    width: 2.5rem;
    height: 3rem;
    position: relative;
    perspective: 800px;

    @include phone {
        width: 3rem;
        height: 3.5rem;
    }

    @include tablet {
        width: 5rem;
        height: 5rem;
    }

    @include desktop {
        width: 6rem;
        height: 6rem;
    }
}

.secretLetter {
    text-align: center;
    border: 2px solid $darkerAccent;
    background-color: $darkerAccent;
    color: $white;
}

// Position the cards on top of one another
.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    backface-visibility: hidden;
    border-radius: 10%;
}

// By default, it is the back of the card that is shown to the user so rotate the front card by 180deg
.front {
    transform: rotateY(180deg);
}

.back {
    background: $gray;
    
}

.flipBack {
    transform: rotateY(-180deg);
}

.flipFront {
    transform: rotateY(0);
}

.sectionAlpha {
    @include tablet {
        padding-top: 1%;
        height: 50%;
    }

    @include desktopShorter {
        padding-top: 3%;
    }
}

.alphaKeys {
    display: flex;
    flex-wrap: wrap;
    flex: 1 auto;
    justify-content: center;
    margin-top: 1rem;

    @include phone {
        margin-top: 0rem;
    }

    button {
        width: calc((100% / 5) - 1rem);
        height: 4rem;
        font-size: 2rem;
        margin: 0.5rem;
        border: 2px solid $darkerAccent;
        border-radius: 15px;
        background: $white;

        @include phone {
            width: calc((100% / 5) - 1rem);
            margin-bottom: 1rem;
        }

        @include tablet {
            width: 8rem;
            height: 6.5rem;
            font-size: 2rem;
            margin: 1rem;
        }

        @include desktop {
            font-size: 3rem;
        }

        @include desktopShorter {
            width: 6rem;
            height: 5.5rem;
            font-size: 2rem;
            margin: 0.5rem;
            margin-bottom: 1rem;
        }

        @include desktopBigger {
            width: 8rem;
            height: 6.5rem;
            margin: 1rem;
            font-size: 3rem;
        }

        &:focus {
            background: $accent;
        }
    }
}

.correctGuess {
    font-weight: 700;
    font-size: 2rem;

    @include phone {
        font-size: 2.5rem;
    }

    @include tablet {
        font-size: 3.5rem;
    }

    @include desktop {
        font-size: 4rem;
    }
}

.replay {
    width: 25%;
    background: transparent;
    color: $white;
    font-size: 3rem;

    &:hover {
        color: $accent;
    }

    @include phone {
        font-size: 3.5rem;
    }

    @include tablet {
        font-size: 4rem;
    }
}

.emoji {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: lightgreen;
    font-size: 2.5rem;

    margin: 0;

    @include phone {
        font-size: 3.2rem;
    }

    @include tablet {
        font-size: 4rem;
    }
}

.emojiSkull {
    color: $lose;
}

.space {
    background-color: darken($gray, 55%);
}

.showResult {
    visibility: hidden;
}

.pulseReplay {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(102, 252, 241, 0.3);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(102, 252, 241, 0);
    }
}